@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Bookstore</h1>
    <p>View our collection of books <a asp-controller="Books">here</a></p>
</div>
